
---
---

<div class="fixed inset-0 w-full h-full overflow-hidden bg-[#FFB5A7]" style="font-family: 'Inter', sans-serif; z-index: 0; position: fixed !important; width: 100vw !important; height: 100vh !important; min-height: 100vh !important;">
  <div class="grid h-full place-items-center overflow-hidden">
      <div class="[grid-area:1/1] translate-x-[1580px] translate-y-[-100px] scale-[4] grid place-items-center transform-gpu origin-center">
          <div aria-hidden="true" class="z-[999] pointer-events-none w-[10px] h-[10px] rounded-full bg-[#ff2d55] ring-2 ring-white shadow-[0_0_0_2px_rgba(0,0,0,0.2)] [grid-area:1/1]"></div>
  
          <img src={`${import.meta.env.BASE_URL}assets/images/layer-6.svg`} alt="back layer (inner)" class="[grid-area:1/1] z-[1] w-[36.8vw] h-auto [will-change:transform] transform-gpu" style="animation: rotateCW 50s linear infinite; transform-origin: center;" />
          <img src={`${import.meta.env.BASE_URL}assets/images/layer-5.svg`} alt="middle layer" class="[grid-area:1/1] z-[2] w-[43.3vw] h-auto [will-change:transform] transform-gpu" style="animation: rotateCCW 50s linear infinite; transform-origin: center;" />
          <img src={`${import.meta.env.BASE_URL}assets/images/layer-4.svg`} alt="front layer (outer)" class="[grid-area:1/1] z-[3] w-[50vw] h-auto [will-change:transform] transform-gpu" style="animation: rotateCW 50s linear infinite; transform-origin: center;" />
      </div>
  </div>
  
  <section class="absolute bottom-20 md:bottom-16 left-0 right-0 mb-8 sm:mb-10 px-4 sm:px-6 z-10">
    <div class="max-w-6xl mx-auto px-4 sm:px-6">
      <h1
      class="text-6xl sm:text-6xl md:text-64px lg:text-[128px] text-primary"
      style={`font-family: ${
        "'GT Alpina Fine', serif"
      }; margin: 0; line-height: 1.1;`}
    >
      Where
    </h1>
    <h1
    class="text-6xl sm:text-6xl md:text-64px lg:text-[128px] text-primary"
    style={`font-family: ${
      "'GT Alpina Fine', serif"
    }; margin: 0; line-height: 1.1;`}
  >
    Evolution Meets
  </h1>
  <h1
  class="text-6xl sm:text-6xl md:text-64px lg:text-[128px] text-primary"
  style={`font-family: ${
    "'GT Alpina Fine', serif"
  }; margin: 0; line-height: 1.1;`}
  >
  Innovation
  </h1>
  <p
  class="text-primary max-w-md sm:max-w-xl md:max-w-3xl lg:max-w-4xl font-light mt-6 sm:mt-8 lg:mt-10 text-sm sm:text-base md:text-lg"
  style={`font-family: ${
    "'Inter', sans-serif"
  }; font-size: 20px; line-height: 150%;`}
  >
  We're cultivating alternative approaches through evolution itself—creating systems that don't just optimize, but discover, surprise, and continuously evolve. This is where we pave a way for a future not engineered, but grown organically through bottom-up ecosystems where humans and artificial life forms collaborate as complementary partners.
  </p>
    </div>
  </section>
</div>